h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bolder;
    color:rgb(0, 149, 255);
    background-color: rgb(104, 1, 213);
    width:fit-content;
    padding: 10px;
    margin:auto;
}
P {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:blueviolet ;
    background-color: rgb(184, 64, 168);
    width: fit-content;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
body {
    background-color: rgb(255, 0, 208);
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
a {
    font-size:xx-large;
    color: rgb(1, 81, 255);
    text-align: center;
    margin-top: auto;
    position:absolute;
    margin-left: auto;
    margin-right: auto;
}
label {
    font-size: larger;
    color: rgb(56, 33, 146);
    text-align: center;
}
form {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}