h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bolder;
    color:rgb(255, 0, 0);
    background-color: rgb(78, 30, 110);
    width:fit-content;
    padding: 10px;
    margin:auto;
}
P {
 font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bolder;
    color:rgb(46, 201, 98);
    background-color: rgb(0, 66, 121);
    width:fit-content;
    padding: 10px;
    margin:auto;
}
body {
    background-color: rgb(212, 49, 218);
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
a {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
table, td, tr {
    margin-left: auto;
    margin-right: auto;
    border: 1px black;
}