h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bolder;
    color:rgb(255, 0, 0);
    background-color: rgb(78, 30, 110);
    width:fit-content;
    padding: 10px;
    margin:auto;
}
p {
 font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bolder;
    color:rgb(46, 201, 98);
    background-color: rgb(0, 66, 121);
    width:fit-content;
    padding: 10px;
    margin:auto;
}
body {
    background-color: rgb(212, 49, 218);
}
.leftimg {
    margin-left: 670px;
}

ul {
    list-style-type: none;
    display: block;

}
.img {
    margin-left: 800px;
}
.link {
    margin-left: 925px;
}