h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bolder;
    color:rgb(76, 76, 255);
    background-color: rgb(8, 68, 48);
    width:fit-content;
    padding: 10px;
    margin:auto;
}
P {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:blueviolet ;
    background-color: rgb(12, 150, 92);
    width: fit-content;
    padding: 10px;
    margin:auto;
}
body {
    background-color: rgb(20, 220, 137);
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
a {
    font-size:xx-large;
    color: rgb(1, 81, 255);
    text-align: center;
    margin-top: auto;
    position:absolute;

}